@import "compass";
@include global-reset;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "plugins/**/*";
@import "custom/styles";

body>header {background-image: url(http://blog.1nongfu.com/16844637085541.png) !important; height:245px;}
body>header h2 {color: #fff;font-weight: bold;}

html {background: #ffffff url(/images/line-tile.png?1461596052) top left;}
body>header>hgroup {margin-top: 7rem}